/* GENERAL */
body { }

a,
a:visited {
	color: $linkColor;
}
a:hover {
	color: $linkHoverColor;
}

::-moz-selection {
    background: $selectionColor;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    color: #fff;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 { }
h2 { }
h3 { }
h4.widgettitle { }

/* STRUCTURE */
//#container {
//	max-width: $pageWidth;
//	margin: 20px auto;
//}

/* HEADER */
header { }
#logo { }

/* NAV */
nav { }

/* MAIN */
#main { border-right: thin solid #eee;}

/* SIDEBAR */
aside .widget{padding: 1em 0}

/* FOOTER */
footer {background:#f2f2f2; border-top: thin solid $linkHoverColor;}

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }

/* Blog Page */
.blog { }
