// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 960px;

// Text Selection
$selectionColor: #42a35a;

// Links
$linkColor: #444;
$linkHoverColor: #42a35a;

// Other
