/* Icons */
[class^="icon-"] a:before,
[class*=" icon-"] a:before,
[class^="icon-"] a:after,
[class*=" icon-"] a:after,
i[class^="icon-"],
i[class*=" icon-"] {
  font-family: "#{$icons}";
  font-style: normal;
  position:absolute;
  text-decoration:none;
  zoom: 1;
}

i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-block;
  position: static;
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
}

// Logo

/*! Just the infinity symbol used in log at top for fast loading */
[class*="ai-"] {
	font-family: 'infinitum';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ai-infinity:before {
	content: "\221e";
}


// Icomoon

[class*="ico-"] {
	font-family: '#{$icomoon}';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-github:before {
	content: "\e600";
}
.ico-twitter2:before {
	content: "\e601";
}
.ico-google-plus:before {
	content: "\e602";
}
.ico-feed:before {
	content: "\e603";
}
.ico-checkbox-checked:before {
	content: "\e604";
}
.ico-question-sign:before {
	content: "\3f";
}
.ico-email:before {
	content: "\1f4e7";
}
.ico-star:before {
	content: "\2605";
}
.ico-youtube-sign:before {
	content: "\e608";
}
.ico-link:before {
	content: "\e609";
}
.ico-home:before {
	content: "\e60a";
}
.ico-linkedin:before {
	content: "\e60b";
}
.ico-at:before {
	content: "\61";
}
.ico-chevron-sign-right:before {
	content: "\27b2";
}
.ico-stackexchange:before {
	content: "\e60e";
}
