/* Fonts */
@font-face {
  font-family: '#{$icons}';
  src:url('assets/fonts/iconfont/fonts/#{$icons}.eot');
  src:url('assets/fonts/iconfont/fonts/#{$icons}.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/iconfont/fonts/#{$icons}.ttf') format('truetype'),
    url('assets/fonts/iconfont/fonts/#{$icons}.woff') format('woff'),
    url('assets/fonts/iconfont/fonts/#{$icons}.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
