/* Fonts */
@font-face {
  font-family: '#{$icons}';
  src:url('assets/fonts/iconfont/#{$icons}.eot');
  src:url('assets/fonts/iconfont/#{$icons}.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/iconfont/#{$icons}.ttf') format('truetype'),
      url('assets/fonts/iconfont/#{$icons}.woff') format('woff'),
      url('assets/fonts/iconfont/#{$icons}.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
