@font-face {
	font-family: '#{$iconfont}';
	src:url('assets/fonts/iconfont/#{$iconfont}.eot');
	src:url('assets/fonts/iconfont/#{$iconfont}.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/iconfont/#{$iconfont}.ttf') format('truetype'),
		url('assets/fonts/iconfont/#{$iconfont}.woff') format('woff'),
		url('assets/fonts/iconfont/#{$iconfont}.svg#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stack-exchange:before {
	content: "\e60e";
}
.icon-reorder:before {
	content: "\e605";
}
.icon-infinity:before {
	content: "\221e";
}
.icon-google-plus:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-youtube:before {
	content: "\e606";
}
.icon-github:before {
	content: "\e608";
}
.icon-circleright:before {
	content: "\e60b";
}
.icon-link:before {
	content: "\e60c";
}
.icon-bookmark:before {
	content: "\e60d";
}
.icon-comments:before {
	content: "\e60f";
}
.icon-feed:before {
	content: "\e600";
}
.icon-tag:before {
	content: "\e602";
}
.icon-at:before {
	content: "\e607";
}
.icon-info:before {
	content: "\e609";
}
.icon-linkedin:before {
	content: "\e60a";
}
